
<!DOCTYPE html>

<html>

<head>
    {{!-- Esto de title es para que arriba en el tap de chrome me salga el nombre que quiera --}}
    <title> About </title>

    {{!-- Eso es para que arriba en el tab de chrome aparezca el logo que queremos --}}
    <link rel="icon" href="/img/weather.png">

    <!-- Esto es para ponerle color al texto o insertar una imagene puro estilo de cosas --> 
    <link rel = "stylesheet" href = "/css/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{!-- Esto es para insertar el partial "header" en la pagina --}} 
        {{>header}}
        <!-- Traerse e insertar la imagen a la pagina  --> 
        <p>This website was created by Nicolas Zuleta. It uses data from mapbox.com and darksky.net!</p>
        <img class = "portrait" src = "/img/robot.png">

    </div>
   
    {{>footer}}
</body>

</html>
